html, body {
  height:100%;
  width:100%;
  background-color: rgb(0,0,255,0.1);
  text-align: center;
}
html #heading{
  color: purple;
}
html #check-bday{
  padding:1rem 1rem;
  color:purple;
  font-size:medium;
  
}